@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

.App {
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgb(238, 174, 202);
  background: rgb(245, 183, 177);
  background: linear-gradient(
    120deg,
    rgba(245, 183, 177) 45%,
    rgba(0, 212, 255) 100%
  );
  font-family: "Rubik", sans-serif;
  color: black;
}
